<!-- <app-navigation></app-navigation> -->

<div class="row mx-0 px-md-5 align-items-center softwareBody justify-content-center">
    <div class="col-12 col-md-6">
        <h1 class="display-4">Welcome to <span class="text-danger" style="font-weight: 500;"><span class="title">DBS</span> <small style="font-size: 32px;" class="text-dark">TECH</small></span></h1>
        <h5 class="float-right"><span class="text-danger ">live more</span><span class="text-dark"> bank less!!!</span></h5>
        <p class="mt-5 text-justify"><span class="ml-5"></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit reprehenderit, perferendis debitis veritatis eius excepturi tempora? Eos architecto expedita, tempore reiciendis optio quam iure perferendis et dolorem laudantium dicta repudiandae.</p>
        <div class="row mx-0">
            <a name="" id="" class="btn btn-outline-primary rounded-pill px-4" href="#" role="button"><i class="fa fa-info" style="font-size: 24px;"></i> <span style="font-size: 18px;">know more...</span></a>
            <a name="" id="" class="btn btn-outline-dark mx-3 rounded-pill px-4" href="#" role="button"><i class="fa fa-handshake-o" style="font-size: 24px;"></i> <span style="font-size: 18px;">Request</span></a>
        </div>
        
    </div>
    <div class="col-12 col-md-6 d-none d-md-block slider">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="https://static1.straitstimes.com.sg/s3fs-public/styles/large30x20/public/articles/2021/01/07/ak_dbs_0701.jpg?VersionId=nnhRjpupfMatvH_JN_g0ukbrBlVXfute" class="img-fluid" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="https://www.dbs.com/iwov-resources/images/newsroom/Image%201_DBS_Euromoney%20World%27s%20Best%20Bank_Piyush%20Gupta-v2.jpg" class="img-fluid" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="https://i.ytimg.com/vi/eXpmqDqq7w8/maxresdefault.jpg" class="img-fluid" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="https://www.dbs.com.hk/iwov-resources/images/home/promotions/digibank_award_620x200_en.jpg" class="img-fluid" alt="">
                </div>
            </div>
                <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<div class="styleCircle"></div>
<div class="styleSquare"></div>
<div class="dots">
  <div class="styleDots">
      <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
    <div class="styleDots2">
      <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
    <div class="styleDots3">
      <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
    <div class="styleDots4">
      <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
</div>