<div class="row mx-0 align-items-center loginContainerBody justify-content-center">
    <div class="col-12 col-md-6 d-none  d-md-block">
        <img src="https://o.remove.bg/downloads/e3bb4b01-b2e7-4e63-ba08-17d1fcb10320/logo-removebg-preview.png" class="img-fluid righter rounded-circle" alt="">
    </div>
    <div class="col-12 col-md-6">
        <div class="loginContainer card shadow p-md-2 border rounded mx-md-5">
            <img src="https://cdn2.vectorstock.com/i/1000x1000/16/41/user-icon-on-red-vector-4681641.jpg" class="rounded-circle profile_icon" alt="">
            <h5 class="text-secondary my-3 ml-2 pl-1 font-weight-bold">Login Here</h5>
            <form (ngSubmit)="userLogin()" method="POST" class="container">
                    <div class="form-group">
                    <label for="">User Name</label>
                    <input type="text" class="form-control rounded-pill" name="euname" id="euname" [(ngModel)]="user.euname" placeholder="eg. RakeshDBS">
                    </div>
                    <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control rounded-pill" name="epcode" id="epcode" [(ngModel)]="user.epcode" placeholder="eg. Sep@$47">
                    <small id="helpId" class="form-text text-muted text-danger">error text</small>
                    </div>
                    <button type="submit" class="btn btn-outline-success px-4 mx-auto customBtn">sign in</button>
                
                <div class="row mx-0 align-items-center justify-content-between mt-4 text-light" style="font-weight: 400;">
                    <a name="" id="" class="text-light" routerLink="/FPassword"  style="font-size: 14px; text-decoration: none;">Forget Password???</a>
                    <a name="" id="" class="text-light" style="font-size: 14px;">Request Account</a>
                </div>
            </form>
        </div>

    </div>
    
</div>