<div class="row mx-0 px-md-5 align-items-center softwareBody justify-content-center">
    <div class="col-12 col-md-6">
        <div class="d-sm-block d-md-none">
            <h1 class="display-md-4 display-5">About <span class="text-danger" style="font-weight: 500;">US</span>
            </h1>
            <h6><span class="text-danger ">we believe in your</span><span class="text-dark"> TRUST</span></h6>
        </div>
        <img src="../../../assets/pyiush.webp" alt=""
            class="img-fluid" style="height: 80vh; width: auto;">
    </div>
    <div class="col-12 col-md-6">
        <div class="d-none d-md-block">
            <h1 class="display-4">About <span class="text-danger" style="font-weight: 500;">US</span></h1>
            <h6><span class="text-danger ">we believe in your</span><span class="text-dark"> TRUST</span></h6>
        </div>
        <blockquote class="blockquote">
            <p class="mt-md-5 mt-0 aboutText text-justify" style="line-height: 40px;"><span class="ml-5"></span>
                <i class="fas fa-quote-left fa-lg text-danger me-2" style="position: relative; top: -10px;"></i>
                <span class="font-italic">DBS can make <b class="text-danger">Impact</b>. We act less like a bank
                    and more like a <b class="text-danger">Tech</b> company...</span>

            <footer class="blockquote-footer float-right"> <cite title="Source Title">Piyush Gupta</cite></footer>
        </blockquote>

    </div>
</div>